#result{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-top: 200px;  
}
body{
    background-image: url("https://www.lthbys.com/d/file/2014/07/29/96ad93d48df7ffe38ce9354d18cd4dca.jpg");   
}