
.timer-div{
    text-align: center; 
    width: 45%;
    background-color: #FFF;
    border-radius: 25px;
    /* border: 1px solid #fff; */
    margin: auto;
    margin-top: 300px; 
}
.timer-div .result{
    color: black;
    /* text-align: center;  */
    font-size: 50px;
    /* margin-top: 300px;   */
}
body{
    background-image: url(images/201910061035454728.jpg.h700的副本.jpg);
    background-size: cover;  
    width: 100%;
    height: 100%;
}